{% extends "nbase.html" %}
{% block title %}Help Someone{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span4">
      <p><b>All fields are mandatory</b></p>
        <form class="form-horizontal" name="canhelp" action="/internals/provider" method="post">
          <div class="control-group">
            <label class="control-label" for="name">Name:</label>
            <div class="controls"><input type="text" name="name" value="" /></div>
          </div>
          <div class="control-group">
            <label class="control-label" for="name">Organization Name:</label>
            <div class="controls"><input type="text" name="orgname" value="" /></div>
          </div>
          <div class="control-group">
            <label class="control-label" for="name">Title:</label>
            <div class="controls"><input type="text" name="title" value="" /></div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">Email:</label>
            <div class="controls"><input type="text" name="email" id="email" value="" /></div>
          </div>
          <div class="control-group">
            <label class="control-label" for="phone">Phone:</label>
            <div class="controls"><input type="text" name="phone" id="phone" value="" /></div>
          </div>
          {% for k in form.values() %}
            {% set o_loop = loop %}
            <div class="control-group">
              <label class="control-label">{{ k[0] }}</label>
              {% for i in k[1] %}
                <div class="controls"><input type="checkbox" name='{{ o_loop.index }}_{{ i|fid }}'> {{ i }}</div>
              {% endfor %}
              
              {% if k[2] %}
              <br />
              <div class="control-group">
                <label class="control-label">Other: </label>
                <div class="controls"><input type="text" name="{{ o_loop.index }}_other" value="" /></div>
              </div></div>
              {% endif %}
            <br />
          {% endfor %}
          <div class="control-group">
            <label class="control-label">When can schools expect to receive the donation?</label>
            <div class="controls"><input type="date" name="timeframe"></div>
          </div>
          <div class="control-group">
            <input type="submit" style="btn btn-primary btn-large; float: right" value="Submit"/>  </div>
          </div>
        </form>
    </div>
  </div>
</div>

{% endblock %}
{% block footer %}{% endblock %}