{% extends "nbase.html" %}
{% block title %}Index{% endblock %}

{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <!-- <div class="hero-unit" style="margin-top: 30px; text-align: center">
        <h2>If this is ANY type of emergency<br /><u>call 911 IMMEDIATELY!</u></h2>
        <p>This website is being created to help the victims of Hurricane Sandy. If you need assistance, please post here or use the hashtag <a href="http://twitter.com/#sandyaid">#SandyAID</a> on twitter! If you can provide any sort of help, such as medical experience, supplies, water, power or a place to stay, please <a href="/find">search</a> for people in your area who need those services!</p>
      </div> -->

      <!-- Example row of columns -->
      <div class="jumbotron">
        <h1>Help your NYC schools!</h1>
        <p class="lead">NYC Schools are hurting from Sandy, and they need your help! If your an organization or company that cna provide <em>any</em> supplies or support for our schools, please send a submission!</p>
        <a class="btn btn-large btn-success" href="/provider">Send Submission</a>
      </div>
      <hr>
      <div class="row" >
        <div class="offset2 span3" style="text-align:center;">
          <h2>Request Help</h2>
          <p style="padding:0 50px;">Are you a NYC school adminstrator? Submit your request for supplies/support here:</p>
          <p><a class="btn btn-primary btn-large"  href="/school">Submit Request &raquo;</a></p>
       </div>
        
      </div>

      <hr>
{% endblock %}

    <p><a href="http://irc.lc/freenode/hurricanehackers">Chat with us (feedback/comments/assistance/etc)</a></p>
