{% extends "nbase.html" %}
{% block title %}Index{% endblock %}

{% block content %}
      <div class="jumbotron">
        <h1>Help your NYC schools!</h1>
        <p class="lead">NYC Schools are hurting from Sandy, and they need your help! If your an organization or company that cna provide <em>any</em> supplies or support for our schools, please send a submission!</p>
        <a class="btn btn-large btn-success" href="/provider">Send Submission</a>
      </div>
      <hr>
      <div class="cont">
          <h2>Request Help</h2>
          <p style="padding:0 50px;">Are you a NYC school adminstrator? Submit your request for supplies/support here:</p>
          <p><a class="btn btn-primary btn-large"  href="/school">Submit Request</a></p>
      </div>
      <hr>
{% endblock %}
