{% extends "nbase.html" %}
{% block title %}Make a request{% endblock %}

{% block content %}
  <div class="row">
    <!-- <div class="span12" style="text-align: center"> -->
    <div class="span4">
     <h3 class="span4" style="text-align:center;">Make a Request</h3>
     <p style="text-align:center;"><b>All fields are mandatory</b></p>
      <form class="form-horizontal" name="needhelp" action="/internals/school" method="post">
        <div class="control-group">
          <label class="control-label" for="name">Name:</label>
          <div class="controls"><input type="text" name="name" id="name" value="" /></div>
        </div>
        <div class="control-group">
          <label class="control-label" for="request">I need:</label><br />
          <div class="controls"><textarea cols="40" rows="5" name="request"></textarea></div>
        </div>
        <div class="control-group">
          <label class="control-label" for="location">Location:</label>
          <div class="controls"><input type="text" name="location" id="location" value="" /></div>
        </div>
        <div class="control-group">
          <label class="control-label" for="sname">School name or ID:</label>
          <div class="controls"><input type="text" name="sname" id="sname" value="" /></div>
        </div>
        <div class="control-group">
          <label class="control-label" for="phonenum">Contact Phone Number:</label>
          <div class="controls"><input type="tel" name="phonenum" id="phonenum" value="" /></div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email">Contact email:</label>
          <div class="controls"><input type="text" name="email" id="email" value="" /></div>
        </div>

        <div class="control-group">
            <input type="submit" style="btn btn-primary btn-large; float: right" value="Submit"/>  </div>
        </div>
        
      </form>
      
    
    </div>
  </div>

{% endblock %}